[Unit]
Description=LCD Daemon

[Service]
User=pi
WorkingDirectory=/home/pi/lcd-daemon
ExecStart=/home/pi/lcd-daemon/lcd-daemon

[Install]
WantedBy=multi-user.target
